:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --main-white: hsla(0, 0%, 100%, 0.75);
  --stat-white: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: var(--very-dark-blue);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-white);
  position: relative;
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background-color: var(--dark-blue);
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
  max-height: 300px;
  min-width: 800px;
}

.column-left {
  padding: 55px;
  text-align: left;
}

.column-left .row h2 span {
  color: var(--soft-violet);
}

.column-left .row:nth-child(1) {
  margin-bottom: 20px;
  color: var(--white);
}

.column-left .row:nth-child(2) {
  margin-bottom: 60px;
}

.column-left .row:nth-child(3) {
  justify-content: space-between;
}

.count {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 5px;
}

.column-right {
  background: url("images//image-header-desktop.jpg") center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax hsl(277, 64%, 61%, 0.7);
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--stat-white);
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.row {
  display: flex;
}

@media (max-width: 500px) {
  .container {
    height: 100%;
    width: 100%;
    padding-top: 20px;
  }

  .card {
    flex-direction: column-reverse;
    height: 100%;
    max-height: initial;
    min-width: initial;
    max-width: 350px;
  }

  .column-left .row:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }

  .column-left .row:last-child .column div {
    text-align: center;
  }

  .column-right {
    min-height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
